main {
    min-height: 80vh;
}

h3 {
    padding: 1rem 0;
}

.latestProduct, .shoppingCartTitle {
    padding-top: 1em;
    padding-bottom: 1em
}

.rating span {
    margin: 0.1rem;
}

.productPrice {
    padding-top: 1em;
}

.buttonContainer {
    padding-top: 1.5em;

}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
